<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="jumbotron catalog rounded-0">
                <p>Download our new<br />2020 catalog here</p>
                <a class="btn btn-primary btn-lg" href="~\catalogs\topppro-en.pdf" role="button" target="_blank">Download Now !</a>
            </div>
        </div>
    </div>
</div>