<!-- FOOTER -->
<footer class="footer text-white bg-dark pb-3">
    <div class="jumbotron bottom rounded-0"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-2">
                <img src="~/images/topp-logo.png" class="img-fluid mt-auto d-block" alt="" width="90">
            </div>
            <div class="col-md-auto">
                <h5>Topp Pro Professional Audio Gear</h5>
                <span class="d-block">
                    <b>Worldwide Distribution Contact</b>
                </span>
                <span class="d-block">No.1, Lane 17, Sec. 2, Hanshi W. Road</span>
                <span class="d-block">Tiachung, Taiwan</span>
                <span class="d-block">Ph. +886-4-22313737 ext. 122<br>Fax. +886-4-22346757</span>
            </div>
            <div class="col-md-auto offset-md-1">
                <h5>&nbsp;</h5>
                <span class="d-block">
                    <b>Exclusive Latin America Distribution</b>
                </span>
                <span class="d-block">Tropical Music Export Enterprises, Inc.</span>
                <span class="d-block">7091 NW 51 Street, Miami, Florida, USA. 33166</span>
                <span class="d-block">Ph. 305-740-7454<br>Fax. 305-740-7456</span>
            </div>
        </div>
        <div class="row justify-content-md-start">
            <div class="col-lg-2"><br />
                &nbsp;
            </div>
            <div class="col-sm-auto">
                <span class="d-block mt-4">Copyright 2020 - All Rights Reserved</span>
            </div>
        </div>
    </div>
</footer>
<!-- /FOOTER -->