<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<connectionStrings>
		<add name="ToppproEntities"
		     connectionString="metadata=res://*/ToppproModel.csdl|res://*/ToppproModel.ssdl|res://*/ToppproModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\MSSQLSERVER2012;Initial Catalog=tropi23_topppro_net;User Id=topppro_user_net;Password=topppro01*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
	         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
	<customErrors mode="On" defaultRedirect="~/error_docs/internal_server_error.html" redirectMode="ResponseRedirect" xdt:Transform="Replace">
	  <error redirect="~/error_docs/bar_request.html" statusCode="400" />
	  <error redirect="~/error_docs/unauthorized.html" statusCode="401" />
	  <error redirect="~/error_docs/forbidden.html" statusCode="403" />
	  <error redirect="~/error_docs/not_found.html" statusCode="404" />
	  <error redirect="~/error_docs/method_not_allowed.html" statusCode="405" />
	  <error redirect="~/error_docs/not_acceptable.html" statusCode="406" />
	  <error redirect="~/error_docs/proxy_authentication_required.html" statusCode="407" />
	  <error redirect="~/error_docs/precondition_failed.html" statusCode="412" />
	  <error redirect="~/error_docs/request-uri_too_long.html" statusCode="414" />
	  <error redirect="~/error_docs/request-unsupported_media_type.html" statusCode="415" />
	  <error redirect="~/error_docs/internal_server_error.html" statusCode="500" />
	  <error redirect="~/error_docs/not_implemented.html" statusCode="501" />
	  <error redirect="~/error_docs/bad_gateway.html" statusCode="502" />
	  <error redirect="~/error_docs/maintenance.html" statusCode="503" />
	</customErrors>
	<caching>
	  <outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
	</caching>
  </system.web>
  <system.webServer>
	<httpErrors errorMode="Custom" xdt:Transform="Replace">
	  <remove statusCode="404" />
	  <error statusCode="404" path="/am/en/Home" responseMode="ExecuteURL" />
	</httpErrors>	
  </system.webServer>
</configuration>
